body {
    background-image: url(../imgs/atardecer-en-la-playa-arte-digital_3840x2160_xtrafondos.com.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Hace que el fondo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen del body */
    color: white;
    


}

label{
    color: white;
}

.container.mt-5 {
    opacity: 0.7; /* Ajusta el valor de opacidad según tus necesidades */
    
}

.navbar {
    color: aqua
}